.header{
   
    padding: 0 40px;
    border-bottom: 3px solid #f3f3f3;
    position: relative;
    z-index: 1;
}
.big-screen{
    display: flex;
    justify-content: space-between;
}
.header-right{
    display: flex;
    align-items: center;
    flex: 1;
}

.middle-line{
    height: 52px;
    width: 1px;
    background-color: black;
    margin: 35px;
}
.search-logo{
    font-size: 23px;
}
.header-links{
   
    display: flex;
    align-items: center;
    gap: 37px;
}
.menu-button{
    display: none;
    font-size: 58px;
    cursor: pointer;
}
.header-links ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;    
    gap: 20px;
    align-items: center;
}
.cart{
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 17px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
}
.cart span{
    background-color: red;
    padding: 3px;
    position: absolute;
    top: -2px;
    left: 47px;
    width: 20px;
    border-radius: 20%;
    height: 20px;
    text-align: center;
    font-size: 14px;
}
.smaller-screen{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100vh;
    background-color: rgba(255, 255, 255, .98);
    z-index: 110000;
    overflow: hidden;
    transition: 0.5s;
}
.smaller-screen ul{
    gap: 40px;
    list-style: none;
    font-size: 45px;
    font-weight: 500;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smaller-screen ul li{
    cursor: pointer;
}
.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.cart-other-details div h5{
    font-size: 17px;
}
.cart-item-action{
    display: flex;
    justify-content: space-between;
}
.cart-btn{
    border: none;
    padding: 10px;
    border-radius: 34px;
    font-size: 15px;
    font-weight: 800;
    width: 12pc;
    cursor: pointer;
}
.cart-btn:nth-child(1){
    color: black;
    background-color: gainsboro;
}
.cart-btn:nth-child(2){
    color: white;
    background-color: black;
}

.cart-summary{
    width: 30pc;
    padding: 25px;
    box-shadow: -3px 0px 41px -7px rgba(68, 68, 68, 0.75);
    position: absolute;
    right: 20px;
    z-index: 1000;
}
@media screen and  (max-width: 850px)  {
    .menu-button{
        display: block;
    }
    .header-links ul{
        display: none;
    }
}
