.contact-first{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: center; */
    padding: 48px;
}
.contact-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5pc 3pc;
    text-align: center;
}
.contact-last-separator{
    width: 8pc;
    height: 1px;
    background-color: black;
    margin: 22px;
}
.contact-form-header h1{
    font-size: 45px;
    letter-spacing: -2px;
    margin: 20px;
}
.descr{
    max-width: 695px;
}
.contact-form-header p{
    font-size: 17px;
    font-weight: 500;
    line-height: 35px;
}
.contact-form-header{
    text-align: center;
}
.contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5pc 2pc;
}
.form-upper{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.form-upper div{
    flex: 1;
}

.form-input {
    width: 100%;
    border-bottom: 2px solid gainsboro !important;
    border: none;
    padding: 20px 5px;
    font-size: 20px;
    outline: none;
}
.form-lower{
    margin: 89px 0;
    margin-top: 100px;
}
.form-btn button{
    border: none;
    padding: 16px 30px;
    background-color: black;
    color: gainsboro;
    font-size: 18px;
    border-radius: 34px;
    font-weight: 700;
    width: 13pc;
    cursor: pointer;
}
@media screen and  (max-width: 850px)  {
    .form-upper{
        flex-direction: column;
    }
.contact-first{
        grid-template-columns: 1fr;
    }
    .contact-first{
        gap: 3pc;
    }
}
@media screen and  (max-width: 1160px)  {
    .contact-first{
        grid-template-columns: 1fr 1fr;
    }
}