.footer{
    padding: 100px 50px 60px;
    background-color: #f3f3f3;
}
.upper{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 2.5fr;
    gap: 20px;
}
.news-letter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.news-letter h5{
    font-size: 17px;
    letter-spacing:4px;
    font-weight: 600;
}
.news-letter div{
    width: 110px;
    height: 2px;
    background-color: grey;
    margin: 0 22px;

}


.sub-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sub-form input{
    border: none;
    width: 35pc;
    height: 3pc;
    border-radius: 35px;
    padding: 17px;
    font-size: 18px;
}

.sub-form button{
    color: white;
    background: black;
    padding: 18px 30px;
    border-radius: 29px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.5s;
    margin: 0 0 0 49px;
}
.sub-form button:hover{
    background-color: #534c4c;
}

.discount{
    flex: 1;
}
.discount h2{
    font-size: 37px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.discount p{
    font-size: 19px;
    font-weight: 500;
}
.mid-line{
    width: 97%;
    height: 1px;
    background-color: grey;
    margin: 50px;
}
.lower{
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-around;
}
.footer-about{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
}
.footer-about :nth-child(2){
    font-weight: 600;
}
.footer-about :nth-child(3){
    font-weight: 200;
    font-weight: 500;
    color: #cfcfcf;
    font-size: 16px;
}
.footer-h3-margin{
    margin-bottom: 30px;
}
.footer-p{
    font-size: 19px;
    font-weight: 500;
    line-height: 35px;
}
.footer-contact{
    flex: 1;
}
.footer-address{
    flex: 1;
}
.footer-social{
    flex: 1;
}
.footer-social div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-social div a{
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}
.footer-social div a:hover{
    color: red;
}